body{ min-height:100vh; margin:0; }
body{ 
    display:flex; 
    flex-direction:column; 
    justify-content: center;
    align-items: center;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    min-height: 100%;
}

.container {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.calcButton{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

#op {
    background-color: rgba(255, 0, 132, 0.35);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 650px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clearButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


input, button {
        background: #000000;
        border-radius: 40px;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: white;
        padding: 1rem 2rem;
        border: none;
        outline: none;
        cursor: pointer;
    }

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    margin-top: auto;
    /* margin-right: 3rem;  */
    /* margin-left: 3rem; */
    color: #875773 ;
    /* text-align: center; */
    width: 100%;
}

.footer a{
    text-decoration: none;
}

.repoLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
}

.footerName{
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    justify-content: center;
}

.TOP{
    display: flex;
    width: 340px;
    justify-content: center;
}